img { 
  border-radius: 100px;
  width: 200px;
  height: 200px;
  border: solid 2px;
}
.p {
  font-style: italic;
}
a {
  border: solid 5px;
  background-color: teal;
}
strong {
  background-color: aliceblue;
}




